@page "/sleepreport"
@inherits SleepReportBase

<section>
    <h1 class="page-title">Sleep Report</h1>

    @if (sleepLines == null)
{
    <p>Loading...</p>
}
    else
    {
        <p>@Message</p>
        <table class="table table-striped sleep-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Count</th>
                <th>Duration</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var line in sleepLines)
            {
                <tr>
                    <td>@line.Date</td>
                    <td>@line.Count</td>
                    <td>@line.Duration</td>
                </tr>
            }
            </tbody>
        </table>
    }
</section>